.sidebar .nav-link { font-size: 13px; cursor: pointer; } .acive{ background-color: red; font-weight: bold; color: rgb(255, 255, 255); } ::placeholder {color: rgba(255, 255, 255, 0.6) !important ;opacity: 1;}
.link-c2{
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    line-height: 3;
    a{
        color: #193f7d;
        text-decoration: none;
    }
}
.link-c2:hover{
    border-top: 1px solid rgb(241, 241, 241);
    background-color: #193f7d;
    a{
        color: rgb(255, 255, 255);
    }
}

.nav-link.active {
    background-color: #0056b3; /* Màu nền cho menu đang được nhấn */
    color: rgb(255, 255, 255); /* Giữ màu chữ trắng khi được nhấn */
    font-weight: bold; /* Thay đổi độ đậm của chữ nếu cần */
}
