.container {
  padding: 0;
  position: relative;
}

.container span{
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #8e44ad;
  cursor: pointer;
  display: none;
}

.container input:valid ~ span{
  display: block;
}

.container span i {
  color: #667080;
}

.container span i.hide-btn::before{
  content: "\f070";
}
