<app-view-modal
  [widthDialog]="'modal-md'"
  #modal
  (saveOpenDialog)="save($event)"
  [submitButton]="translate.instant('OK')"
  (closeDialog)="close($event)"
>
  <form class="form-horizontal" #f="ngForm" [formGroup]="form">
    <div class="form-group row py-3" *ngIf="isCurrentUser">
      <div class="col-md-4">
        <label class="col-form-label">
          {{ "OLD_PASSWORD" | translate }}
          <span class="required-input">*</span>
        </label>
      </div>
      <div class="col-md-8">
        <div class="container">
          <input
            [type]="isShowingPassword.PasswordOld ? 'text' : 'password'"
            class="form-control"
            [placeholder]="this.translate.instant('OLD_PASSWORD')"
            name="PasswordOld"
            formControlName="PasswordOld"
          />
          <span
            class="show-btn"
            (click)="showPassword(isShowingPassword, 'PasswordOld')"
          >
            <i
              class="fa fa-eye-slash"
              aria-hidden="true"
              *ngIf="isShowingPassword.PasswordOld"
            ></i>
            <i
              class="fa fa-eye"
              aria-hidden="true"
              *ngIf="!isShowingPassword.PasswordOld"
            ></i>
          </span>
        </div>

        <div
          *ngIf="
            this.form.get('PasswordOld')?.invalid &&
            (this.form.get('PasswordOld')?.touched ||
              this.form.get('PasswordOld')?.dirty)
          "
        >
          <div
            *ngIf="this.form.get('PasswordOld').hasError('required')"
            class="required-input"
          >
            {{ "REQUIRED_DATA" | translate }}
          </div>
          <div
            *ngIf="this.form.get('PasswordOld').hasError('pattern')"
            class="required-input"
          >
            {{ "CHARACTERS_PASS" | translate }}
          </div>
          <div
            *ngIf="form.controls['PasswordOld'].hasError('maxlength')"
            class="required-input"
          >
            {{ "MAX_LENGTH_PASS" | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row py-3">
      <div class="col-md-4">
        <label class="col-form-label">
          {{ "NEW_PASSWORD" | translate }}:
          <span class="required-input">*</span>
        </label>
      </div>
      <div class="col-md-8">
        <div class="container">
          <input
            [type]="isShowingPassword.PasswordNew ? 'text' : 'password'"
            name="PasswordNew"
            class="form-control"
            [placeholder]="this.translate.instant('NEW_PASSWORD')"
            formControlName="PasswordNew"
          />
          <span
            class="show-btn"
            (click)="showPassword(isShowingPassword, 'PasswordNew')"
          >
            <i
              class="fa fa-eye-slash"
              aria-hidden="true"
              *ngIf="isShowingPassword.PasswordNew"
            ></i>
            <i
              class="fa fa-eye"
              aria-hidden="true"
              *ngIf="!isShowingPassword.PasswordNew"
            ></i>
          </span>
        </div>
        <div
          *ngIf="
            this.form.get('PasswordNew')?.invalid &&
            (this.form.get('PasswordNew')?.touched ||
              this.form.get('PasswordNew')?.dirty)
          "
        >
          <div
            *ngIf="this.form.get('PasswordNew').hasError('required')"
            class="required-input"
          >
            {{ "REQUIRED_DATA" | translate }}
          </div>
          <!-- <div *ngIf="this.form.get('PasswordNew').hasError('matchOldValue')" class="required-input">
            {{'PASSWORD_IS_USE' | translate}}</div> -->
          <div
            *ngIf="this.form.get('PasswordNew').hasError('pattern')"
            class="required-input"
          >
            {{ "CHARACTERS_PASS" | translate }}
          </div>
          <div
            *ngIf="form.controls['PasswordNew'].hasError('minlength')"
            class="required-input"
          >
            {{ "MIN_LENGTH_PASS" | translate }}
          </div>
          <div
            *ngIf="form.controls['PasswordNew'].hasError('maxlength')"
            class="required-input"
          >
            {{ "MAX_LENGTH_PASS" | translate }}
          </div>
        </div>
        <div
          *ngIf="
            this.form.hasError('match') &&
            (this.form.get('PasswordNew')?.touched ||
              this.form.get('PasswordNew')?.dirty)
          "
          class="required-input"
        >
          {{ "PASSWORD_IS_USE" | translate }}
        </div>
      </div>
    </div>
    <div class="form-group row py-3">
      <div class="col-md-4">
        <label class="col-form-label">
          {{ "CONFIRM_NEW_PASSWORD" | translate }}:
          <span class="required-input">*</span>
        </label>
      </div>
      <div class="col-md-8">
        <div class="container">
          <input
            [type]="isShowingPassword.PasswordConfirm ? 'text' : 'password'"
            name="PasswordConfirm"
            class="form-control"
            [placeholder]="this.translate.instant('CONFIRM_NEW_PASSWORD')"
            formControlName="PasswordConfirm"
          />
          <span
            class="show-btn"
            (click)="showPassword(isShowingPassword, 'PasswordConfirm')"
          >
            <i
              class="fa fa-eye-slash"
              aria-hidden="true"
              *ngIf="isShowingPassword.PasswordConfirm"
            ></i>
            <i
              class="fa fa-eye"
              aria-hidden="true"
              *ngIf="!isShowingPassword.PasswordConfirm"
            ></i>
          </span>
        </div>
        <div
          *ngIf="
            this.form.get('PasswordConfirm')?.invalid &&
            (this.form.get('PasswordConfirm')?.touched ||
              this.form.get('PasswordConfirm')?.dirty)
          "
        >
          <div
            *ngIf="this.form.get('PasswordConfirm').hasError('required')"
            class="required-input"
          >
            {{ "REQUIRED_DATA" | translate }}
          </div>
          <div
            *ngIf="this.form.get('PasswordConfirm').hasError('pattern')"
            class="required-input"
          >
            {{ "CHARACTERS_PASS" | translate }}
          </div>
          <div
            *ngIf="form.controls['PasswordConfirm'].hasError('minlength')"
            class="required-input"
          >
            {{ "MIN_LENGTH_PASS" | translate }}
          </div>
          <div
            *ngIf="form.controls['PasswordConfirm'].hasError('maxlength')"
            class="required-input"
          >
            {{ "MAX_LENGTH_PASS" | translate }}
          </div>
        </div>
        <div
          *ngIf="
            this.form.hasError('mismatch') &&
            (this.form.get('PasswordConfirm')?.touched ||
              this.form.get('PasswordConfirm')?.dirty)
          "
          class="required-input"
        >
          {{ "CONFIRM_PASSWORD_ERR" | translate }}
        </div>
      </div>
    </div>
  </form>
</app-view-modal>
<style>
  .container {
    padding: 0;
    position: relative;
  }

  .container span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #8e44ad;
    cursor: pointer;
    display: none;
  }

  .container input:valid ~ span {
    display: block;
  }

  .container span i {
    color: #667080;
  }

  .container span i.hide-btn::before {
    content: "\f070";
  }
</style>
